body{
    background-size:cover;
    
}

.heading{
    font-size:20px;
    margin:0;
    width:100%;
}
canvas{
    border:10px ridge yellow;
    
}
#status,#Object_detected_or_not{
    font-size:18px;
}